* {
  margin: 0;
  padding: 0;
  background-color: slategrey;
}

.home {
  justify-content: center;
  margin: 20% 30%;
  border: 3px solid black;
  max-width: 960px;
  background-color: skyblue;
}

.home h1 {
  text-align: center;
  background-color: skyblue;
}

.home p {
  text-align: center;
  margin: 0 20%;
  font-size: larger;
  background-color: skyblue;
}

.home .btn {
  display: block;
  margin: 10px auto 10px;
  font-size: large;
  width: 100px;
  height: 50px;
  background-color: aqua;
}
