h1 {
  text-align: center;
}

p {
  text-align: center;
  margin: 0 20%;
}

.btn {
  display: block;
  margin: 10px auto 10px;
  font-size: large;
  width: 100px;
  height: 50px;
  background-color: aqua;
}

.home {
  justify-content: center;
  margin: 20% 200px;
  border: 3px dashed black;
  max-width: 960px;
}